doctype html
html
    head
    body
        h1 Welcome to here!
        p. 
            This is a tag
            and this is a new line

        ul
            li this is item #1
            li this is item #2
            